.er-scrollbar-wrapper {
	position: absolute;
	right: 0px;
	width: 10px;
	top: 0px;
	bottom: 0px;

	.er-scroll-track {
		height: 100%;
		width: 100%;

		.er-scroll-thumb {
			position: absolute;
			top: 0px;
			width: 100%;
			cursor: pointer;
			background-color: #333;
			border-radius: 4px;
		}
	}
}
